* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: url(images/background.png);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}

.navbar {
  width: 100%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}

nav {
  flex: 1;
  padding-left: 60px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 78px 0px 78px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  padding: 5px 20px;
  border: 1px solid #ffffff;
}

a:hover {
  text-decoration: none;
  color: #6e3598;
  font-family: sans-serif;
  padding: 5px 20px;
  border: 1px solid #6e3598;
}

div {
  font-family: sans-serif;
  text-align: center;
}

.content h1 {
  font-size: 20px;
  font-weight: 100;
  margin-left: 34%;
  margin-top: 20%;
  margin-bottom: 15px;
  text-justify: auto;
  position: relative;
  color: #6e3598;
  width: 300px;
  height: 100px;
  padding: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px #6E3598;
  display: flex;
  align-items: center;
  text-align: center;
}

.content {
  margin-left: 10%;
  margin-top: 10%;
}

.box h1 {
  margin-left: 58.25%;
}

.website__rights {
  text-align: center;
  margin-top: 370px;
  color: #ffffff;
}
